#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  padding: 1vw;
}

#headline {
  position: relative;
  text-align: center;
  font-size: 15px;
  margin-bottom: 5vw;
}

#mainHeading {
  font-size: 38px;
}

#contents {
  position: relative;
  border: 1px solid black;
}

.pageview {
  display: flex;
  justify-content: left;
  align-items: center;
}

.price {
  display: flex;
  justify-content: right;
  align-items: center;
}

#inputRange {
  position: relative;
  margin: 1.5rem 0;
  padding: 0 4vw;
  width: 100%;
  text-align: center;
}

#rangeInputDiv {
  width: inherit;
  position: relative;
}

.progress {
  position: absolute;
  top: 8.2px;
  width: 50%;
  height: 10px;
  background: white;
}

#amt {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: inherit;
  height: 10px;
  border: 0.1px solid black;
  border-radius: 5px;
  background: black;
  outline: none;
  transition: opacity 0.2s;
}

#amt::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0.1px solid black;
  border-radius: 30px;
  background-color: #ffffff;
  background: url("images/icon-slider.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: ew-resize;
  z-index: 1;
}

#amt::-webkit-slider-runnable-track {
  cursor: pointer;
}

#priceParameters {
  display: flex;
  justify-content: space-around;
  margin: 0 18%;
}

.toggle {
  top: 2px;
  --width: 40px;
  --height: calc(var(--width)/2);
  --border-radius: calc(var(--height)/2);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #009578;
}

.toggle__fill::after {
  content: "";
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.ptext2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount-label {
  margin-left: 5px;
  align-self: flex-start;
  margin-bottom: 20px;
}

#pDiscount {
  border: 0.1px solid black;
  border-radius: 20px;
  padding: 1px 4px;
  line-height: 8px !important;
  font-size: 6px !important;
  text-align: center;
  font-size: 8px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
  align-items: center;
}

ul {
  list-style-image: url("images/icon-check.svg");
  padding: 0 0.5vw;
}

#start {
  outline: none;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 15px;
  color: white;
  width: 130px;
  height: 30px;
  line-height: 20px;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */