$softCyan: hsl(174, 77%, 80%);
$strongCyan: hsl(174, 86%, 45%);
$lightGrayishRed: hsl(14, 92%, 95%);
$lightRed: hsl(15, 100%, 70%);
$paleBlue: hsl(226, 100%, 87%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishBlue: hsl(224, 65%, 95%);
$lightGrayishBlueII: hsl(223, 50%, 87%);
$grayishBlue: hsl(225, 20%, 60%);
$darkDesaturatedBlue: hsl(227, 35%, 25%);
$mainFontSize: 15px;

body {
    background: url(images/bg-pattern.svg);
    background-position: center;
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}


#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34rem;
    padding: 1vw;
    overflow: hidden;
}

#headline {
    position: relative;
    text-align: center;
    margin-bottom: 4vw;
    color: $darkDesaturatedBlue;
    background: url(images/pattern-circles.svg);
    background-position: center;
    height: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainHeading {
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 800;
}

#mainHeading~p {
    color: $grayishBlue;
    font-size: clamp(12px, 2vw, $mainFontSize);
}

#contents {
    background: white;
    position: relative;
    border: 1px solid $veryPaleBlue;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: $mainFontSize;
    color: $grayishBlue;
    font-weight: 600;
}

.pageview {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
}

.price {
    display: flex;
    justify-content: right;
    align-items: center;
}

.amount {
    font-size: calc($mainFontSize + 9px);
    color: $darkDesaturatedBlue;
    font-weight: 600;
}

.cycle {
    position: relative;
    margin-top: -10px;
}

#inputRange {
    position: relative;
    margin: 2rem 0;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

#rangeInputDiv {
    width: inherit;
    position: relative;
    margin-top: 1.5vh;
}

.progress {
    position: absolute;
    top: 7.0px;
    width: 50%;
    height: 10px;
    background: $softCyan;
}

#amt {
    -webkit-appearance: none;
    appearance: none;
    width: inherit;
    height: 10px;
    border: 0.1px solid transparent;
    border-radius: 5px;
    background: $lightGrayishBlue;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#amt::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border: 0.1px solid transparent;
    border-radius: 30px;
    background: url('images/icon-slider.svg');
    background-color: $strongCyan;
    background-repeat: no-repeat;
    background-position: center;
    cursor: ew-resize;
    z-index: 1;
}

#amt::-webkit-slider-thumb:hover {
    background-color: $softCyan;
}

#amt::-webkit-slider-thumb:active {
    background-color: $strongCyan;
}

#amt::-webkit-slider-runnable-track {
    cursor: pointer;
}

#priceParameters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 12%;
    height: 40px;
    color: $darkDesaturatedBlue;
    font-size: clamp(12px, 2vw, $mainFontSize);
}

.toggle {
    top: 2px;
    --width: 40px;
    --height: calc(var(--width)/2);
    --border-radius: calc(var(--height)/2);
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: $lightGrayishBlue;
    transition: background 0.2s;
}

.toggle__fill:hover {
    background: $strongCyan;
}

.toggle__input:checked~.toggle__fill {
    background: $lightGrayishBlueII;
}

// toggle thumb
.toggle__fill::after {
    content: "";
    color: transparent;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill::after {
    transform: translateX(var(--height));
}


.ptext2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pDiscount {
    background: $lightGrayishRed;
    color: $lightRed;
    border: 0.1px solid $lightGrayishRed;
    border-radius: 20px;
    padding: 4px;
    line-height: 8px !important;
    font-size: 10px !important;
    text-align: center;
    font-size: 8px;
    margin-left: 10px;
}

hr {
    margin: 3vh 2vw;
    border: none;
    border-top: 1px solid $lightGrayishBlueII;
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

ul {
    list-style-image: url('images/icon-check.svg');
    padding: 0 1rem;
}

#start {
    outline: none;
    background-color: $darkDesaturatedBlue;
    border: 1px solid transparent;
    border-radius: 15px;
    color: $veryPaleBlue;
    width: 130px;
    height: 30px;
    line-height: 18px;
    font-size: 15px;
    margin-top: -15px;
}

// breakpoint: 550px

@media screen and (max-width: 550px) {

    body {
        background-position: top;
        background-size: 100vw 35vh;
    }

    #main {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: auto;
        margin: 10vh 2vw 0 2vw;
    }

    #priceParameters {
        margin: 0 0;
    }

    #footer {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    ul {
        padding: 0;
    }

    #start {
        // margin-top: 0;
        margin: 2vh 0;
    }
}