body {
  background: url(images/bg-pattern.svg);
  background-position: center;
  background-size: 100vw 120vh;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
  padding: 1vw;
}

#headline {
  position: relative;
  text-align: center;
  font-size: 15px;
  margin-bottom: 4vw;
  color: hsl(227, 35%, 25%);
  background: url(images/pattern-circles.svg);
  background-position: center;
  height: 150px;
  background-size: 150px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mainHeading {
  font-size: 30px;
  font-weight: 800;
}

#mainHeading ~ p {
  color: hsl(225, 20%, 60%);
}

#contents {
  background: white;
  position: relative;
  border: 1px solid hsl(230, 100%, 99%);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  color: hsl(225, 20%, 60%);
  font-weight: 600;
}

.pageview {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 8px;
}

.price {
  display: flex;
  justify-content: right;
  align-items: center;
}

.amount {
  font-size: 24px;
  color: hsl(227, 35%, 25%);
  font-weight: 600;
}

.cycle {
  position: relative;
  margin-top: -10px;
}

#inputRange {
  position: relative;
  margin: 2.5rem 0;
  padding: 0 1rem;
  width: 100%;
  text-align: center;
}

#rangeInputDiv {
  width: inherit;
  position: relative;
}

.progress {
  position: absolute;
  top: 7px;
  width: 50%;
  height: 10px;
  background: hsl(174, 77%, 80%);
}

#amt {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: inherit;
  height: 10px;
  border: 0.1px solid transparent;
  border-radius: 5px;
  background: hsl(224, 65%, 95%);
  outline: none;
  transition: opacity 0.2s;
}

#amt::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0.1px solid transparent;
  border-radius: 30px;
  background: url("images/icon-slider.svg");
  background-color: hsl(174, 86%, 45%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: ew-resize;
  z-index: 1;
}

#amt::-webkit-slider-thumb:hover {
  background-color: hsl(174, 77%, 80%);
}

#amt::-webkit-slider-thumb:active {
  background-color: hsl(174, 86%, 45%);
}

#amt::-webkit-slider-runnable-track {
  cursor: pointer;
}

#priceParameters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 15%;
  height: 40px;
  color: hsl(227, 35%, 25%);
  font-size: 14px;
}

.toggle {
  top: 2px;
  --width: 40px;
  --height: calc(var(--width)/2);
  --border-radius: calc(var(--height)/2);
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: hsl(224, 65%, 95%);
  transition: background 0.2s;
}

.toggle__fill:hover {
  background: hsl(174, 86%, 45%);
}

.toggle__input:checked ~ .toggle__fill {
  background: hsl(223, 50%, 87%);
}

.toggle__fill::after {
  content: "";
  color: transparent;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.ptext2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pDiscount {
  background: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border: 0.1px solid hsl(14, 92%, 95%);
  border-radius: 20px;
  padding: 4px;
  line-height: 8px !important;
  font-size: 10px !important;
  text-align: center;
  font-size: 8px;
  margin-left: 10px;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

ul {
  list-style-image: url("images/icon-check.svg");
  padding: 0 1rem;
}

#start {
  outline: none;
  background-color: hsl(227, 35%, 25%);
  border: 1px solid transparent;
  border-radius: 15px;
  color: hsl(230, 100%, 99%);
  width: 130px;
  height: 30px;
  line-height: 18px;
  font-size: 15px;
  margin-top: -15px;
}/*# sourceMappingURL=style.css.map */